<% include ../partials/header %>
<% if (error.msg) { %>
  <ul>
    <li><%= error.msg %></li>
  </ul>
<% } %>
<h2><%= potluck.name %></h2>
<p>Location: <%= potluck.location %></p>
<p>Date: <%= date %></p>
<p>Time: <%= time %></p>
<p>Host: <%= potluck._host.username %></p>
<% if (currentUser._id.equals(potluck._host._id)) { %>
  <a href="/potlucks/<%= potluck.id %>/edit">Edit</a>
  <form action="/potlucks/<%= potluck._id %>?_method=DELETE" method="post">
    <input type="submit" value="Delete">
  </form>
<% } %>

<% include ../partials/footer %>
